
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Event</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    
    <div class="topnav" id="myTopnav">
        <div class="last">
            <a href="/" class="active">Home</a>
            <a href="study">Study</a>
            <a href="work">Work</a>
            <a href="event">Event</a> 
            <a href="plan">Plan</a>
            <a class="icon" onclick="myFunction()">
            <i>+</i>
            </a>
        </div>
    </div>
     