<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Event</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="container0" style="padding-top: 10px;">

        <div class="header">
            <h3><a style="text-decoration: none;" href="<%= header2 %>" ><%=header1 %></a></h3>
            
            <h3><a href="event">more</a></h3>
        </div>
        <div class="container1 back">

            <div>
                <div class="rap">
                    <img src="images/event4.png" class="img2 tab">

                    <div style="display: inline-block;" class="textA">  
                        <span class="wrt" >Your everyday task. <br> Plan your day well</span><br>
                        <h4 style="line-height: 30px;" class="texA">
                            Take your activities to advance, <br> higher and more developed state 
                            with a <br> target routine. Progress comes from <br> daily action. Get started with 
                            Pixel Event. <br> Track your activity!
                        </h4>                      
                    </div>
                </div>
                <img src="images/event2.png" class="img2 ta">
                <img src="images/event3.png" class="img2 tab">
            </div>

            <div style="text-align: center;">
                <div style="padding-top: 30px;" class="wrt ph"><span class="wrt ph3" >Your everyday task! <br> Plan your day well...</span><br>
                </div>
                <img src="images/event5.png" class="img3">
                
            </div>

        </div>

        <div class="container2">
            <div class="sec">
                <img src="images/kin 4.png" class="work">
                <h5>Research can find answers to things that are unknown, filling gaps in knowledge and changing the way that organiser professionals work.</h5>
            </div>
            <div class="sec">
                <img src="images/kin1.png" class="work">
                <h5>To prepare yourself for the transition back to the office, breakdown the given task into smaller task and track it as soon as possible.</h5>
            </div>
            <div class="sec">
                <img src="images/kin2.png" class="work">
                <h5>Organizations must reimagine their work and the role of internet service in creating safe, productive, and enjoyable jobs.</h5>
            </div>
            <div class="sec">
                <img src="images/kin3.png" class="work">
                <h5>A site design to guide you achieving  successful accomplishment that will help you meet up deadlines, which is suitable for many different publications,</h5>
            </div>
        </div>

    </div>


    <%- include("footer") -%>